{% extends 'base.html.twig' %}

{% block title %}Document FPI{% endblock %}

{% block body %}
    <h1>Document FPI</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>BrochureFilename</th>
                <td>{{ product.brochureFilename }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ product.titre }}</td>
            </tr>
            <tr>
                <th>Ref</th>
                <td>{{ product.ref }}</td>
            </tr>
            <a href='{{ asset('assets/brochures/' ~ product.brochureFilename) }}'>View brochure (PDF)</a>
        </tbody>
    </table>


{% endblock %}
